[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/v4-core"]
	path = packages/contracts/lib/v4-core
	url = https://github.com/Uniswap/v4-core
[submodule "packages/contracts/lib/v4-periphery"]
	path = packages/contracts/lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
[submodule "packages/contracts/lib/permit2"]
	path = packages/contracts/lib/permit2
	url = https://github.com/uniswap/permit2
[submodule "packages/contracts/lib/universal-router"]
	path = packages/contracts/lib/universal-router
	url = https://github.com/uniswap/universal-router
[submodule "packages/contracts/lib/v3-core"]
	path = packages/contracts/lib/v3-core
	url = https://github.com/uniswap/v3-core
[submodule "packages/contracts/lib/v2-core"]
	path = packages/contracts/lib/v2-core
	url = https://github.com/uniswap/v2-core
[submodule "packages/contracts/lib/v3-periphery"]
	path = packages/contracts/lib/v3-periphery
	url = https://github.com/uniswap/v3-periphery
[submodule "packages/contracts/lib/openzeppelin-contracts-upgradeable"]
	path = packages/contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/contracts/lib/forge-std"]
	path = contracts/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "contracts/lib/permit2"]
	path = contracts/lib/permit2
	url = https://github.com/Uniswap/permit2.git
[submodule "contracts/lib/universal-router"]
	path = contracts/lib/universal-router
	url = https://github.com/Uniswap/universal-router.git
[submodule "contracts/lib/v2-core"]
	path = contracts/lib/v2-core
	url = https://github.com/Uniswap/v2-core.git
[submodule "contracts/lib/v3-core"]
	path = contracts/lib/v3-core
	url = https://github.com/Uniswap/v3-core.git
[submodule "contracts/lib/v3-periphery"]
	path = contracts/lib/v3-periphery
	url = https://github.com/Sofianel5/v3-periphery.git
[submodule "contracts/lib/v4-periphery"]
	path = contracts/lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery.git
[submodule "contracts/lib/v4-core"]
	path = contracts/lib/v4-core
	url = https://github.com/Uniswap/v4-core.git
[submodule "contracts/lib/protocol-contracts"]
	path = contracts/lib/protocol-contracts
	url = https://github.com/Virtual-Protocol/protocol-contracts.git
[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "cds"]
	path = cds
	url = https://github.com/coinbase/cds.git
[submodule "game-python"]
	path = game-python
	url = https://github.com/game-by-virtuals/game-python.git
[submodule "kilolend"]
	path = kilolend
	url = https://github.com/tamago-labs/kilolend.git
[submodule "protocol-contracts"]
    path = protocol-contracts
    url = https://github.com/Virtual-Protocol/protocol-contracts.git